
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border-radius: 2px solid pink;
    border-bottom: 2px solid pink;
    width: 600px;
    margin: 0 auto 20px auto;
    box-shadow: 4px 4px 5px #888888;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 0.5s
}

img:hover {
    transform: scale(1.1);
}