body,
html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(./hdMoon.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dialogue {
    margin: 56rem 0 0 4rem;
    top: 0px;
    position: fixed;
    color: rgba(205,205,210,0.7);
}